<!--En el header muestra la barra de búsqueda, la lista se actualzia conforme se secribe-->
<ion-content>
  <ion-toolbar>
    <ion-searchbar showCancelButton="focus" (ionChange)="ionChange($event)"></ion-searchbar>
  </ion-toolbar>

  <br><br><br>

  <!--Lista de resultados, muestra una imagen, título y botón para abrir modal-->
  <ion-list>

    <ion-item *ngFor='let value of Values'>
      <ion-img slot="start" [src]="value.poster"></ion-img>
      <div>
        <h4 *ngIf="value.type == 'tv'"> {{value.name}} </h4>
        <h4 *ngIf="value.type == 'movie'"> {{value.name}} </h4>
      </div>
      <ion-button slot="end" class="btn-start" (click)="buttonSelector(value.id, value.type)">Iniciar  <ion-icon name="play" class="play-btn"></ion-icon></ion-button>
    </ion-item>

  </ion-list>

  <br><br><br><br>

</ion-content>
