<!--Al igual que la pantalla anterior, muestar un header transparente
con botón de regreso, logo y título-->
<ion-header>
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-img src="assets/images/Large_Logo.png" class="tool-img"></ion-img>
  </ion-toolbar>
</ion-header>

<!--El formulario únicamente pide usuario y contraseña, también contiene
un botón para ir a la pantalla de registro en caso de no tener cuenta-->
<ion-content class="container ion-padding">
  <ion-card class="centered" disabled="false">
    <ion-card-header>
      <ion-card-title>Iniciar sesión</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <form (ngSubmit)="login()">
        <ion-input placeholder="Ingresa tu correo" type="email" [(ngModel)]="email" name="email"></ion-input><br>
        <ion-input type="password" placeholder="Ingresa tu contraseña" [(ngModel)]="password" name="password"></ion-input><br>
        <ion-button type="submit">Ingresar</ion-button><br><br>
      </form>

      <p>¿Aún no tienes cuenta?</p>
      <a href="/sign-up">Regístrate aquí</a>
    </ion-card-content>
  </ion-card>
</ion-content>
