ion-toolbar {
    --background: rgba(1,1,1,.5);
    --ion-color-base: rgba(1,1,1,.5) !important;
    backdrop-filter: blur(5px);
    position: fixed;
    padding: 0.3rem;
}

h1{
    width: fit-content;
}

.card{
    padding: 0;
    border-radius: 2%;
    border-bottom: 1rem;
    color: white;
}

ion-button{
    position: absolute;
    --background: #e50914;
    height: 2.5rem;
    top: 30%;
    right: 0.7rem;
}

ion-list {
    background: rgba(0, 0, 0, 0);
    padding: 0;
}

.tool-img{
    width: 3rem;
    height: 100%;
}

p{
    padding: 0.5rem;
}