<ion-header class="ion-no-border toolHeader">
  <ion-toolbar>
    <ion-title slot="end">Favoritos</ion-title>
    <ion-img src="assets/images/Logo.png" class="tool-img"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-item *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
      <ion-card>
        <ion-card-content>
          <ion-img src="https://images6.alphacoders.com/107/thumb-1920-1076158.png"></ion-img>
          <h1 class="top-left">Coringa</h1>
          <div class="center-left">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <br>
            <p>Agregado hace 5H</p>
          </div>
          <ion-button class="center-right">Ver Ahora <ion-icon name="play-circle"></ion-icon></ion-button>
        </ion-card-content>
      </ion-card>
    </ion-list-item>
  </ion-list>

</ion-content>
