<!--Muestra el logo y el título de la página-->
<ion-header class="ion-no-border toolHeader">
  <ion-toolbar>
    <ion-title slot="end">Favoritos</ion-title>
    <ion-img src="assets/images/Logo.png" class="tool-img"></ion-img>
  </ion-toolbar>
</ion-header>

<!--Contiene un refresher para actualizar la página, también muestra una tarjeta con los
favoritos recientes-->
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <br><br><br><br>
  <ion-list>
    <ion-list-item *ngFor="let fav of Favourites.reverse()">
      <div class="card" style="background:url( {{fav.image}} ); background-size: cover; background-position: center center;">
        <ion-row>
          <ion-col>
            <h1> {{fav.name}} </h1>
          </ion-col>
          <ion-col>
            <ion-button (click)="selectorClick(fav.id, fav.type)">Ver Ahora <ion-icon name="play-circle"></ion-icon></ion-button>
          </ion-col>
        </ion-row>
        <div class="text">
          <p> {{fav.desc}} </p>
          <p> {{fav.vote}} </p>
        </div>
        </div>
    </ion-list-item>
  </ion-list>
  <br><br><br>

</ion-content>
