<!--El header es transparente y únicamente muestra un botón de regreso
aparte del logo de la empresa y el título-->
<ion-header>
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-img src="assets/images/Large_Logo.png" class="tool-img"></ion-img>
  </ion-toolbar>
</ion-header>

<!--El contenido es una tarjeta semitransparente que deja ver el formulario
de registro, además de un "<a>" que manda a la página de loginD-->
<ion-content class="container ion-padding">
  <ion-card class="centered" disabled="false">
    <ion-card-header>
      <ion-card-title>Regístrate</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input placeholder="Ingresa tu nombre" [(ngModel)]="name" name="name"></ion-input><br>
        <ion-label>Correo</ion-label>
        <ion-input type="email" 
                  placeholder="Ingresa tu Correo" 
                  [(ngModel)]="email" 
                  name="email"></ion-input><br>
        <ion-label>Contraseña</ion-label>
        <ion-input type="password" placeholder="Ingresa tu contraseña" [(ngModel)]="password" name="password"></ion-input><br>
        <ion-label>Confirmar contraseña</ion-label>
        <ion-input type="password" placeholder="Vuelve a ingresar tu contraseña" [(ngModel)]="password_confirmation" name="conf_password"></ion-input><br>
        <ion-button expand="full" type="submit">Regístrame</ion-button><br><br>
      </form>

      <p>¿Ya cuentas con una cuenta? <a href="/login">Inicia sesión</a></p>
    </ion-card-content>
  </ion-card>
</ion-content>
