ion-content{
    --background: url(https://p4.wallpaperbetter.com/wallpaper/397/616/907/2018-marvel-comics-5k-venom-wallpaper-preview.jpg) no-repeat center center / cover;
}

.container{
    position: relative;
    text-align: center;
    color: white;
}

ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    padding: 1rem;
    position: fixed;
}

ion-card{
    --background: rgba(1,1,1,0.7);
    text-align: left;
    backdrop-filter: blur(5px);
}

ion-card-title{
    font-size: 2rem;
}

ion-input{
    --background: transparent;
    border: solid 1px white;
    transition: all 0.3s;
    
}

ion-input:hover{
    --background: --ion-background-color;
    border: solid 1px #e50914;
}

ion-button{
    --background: #e50914;
    height: 2.5rem;
}

a{
    color: #e50914;
}

.tool-img{
    height: 2rem;
    width: 100%;
}

.centered{
  position: absolute;
  margin: 0;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}