<!--Esta página únicamente incluye los tabs inferiores
y posteriormente carga sobre de si las páginas correspondientes-->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="principal">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="movies">
      <ion-icon name="film"></ion-icon>
      <ion-label>Películas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tvshow">
      <ion-icon name="tv"></ion-icon>
      <ion-label>Series</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="fav">
      <ion-icon name="bookmarks"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>