<!--Este obtiene una lista de todos los favoritos y los muestra con un
formato similar al de búsqueda, en películas se mostrará el nombre y en series
se mostrará el nombre de la serie y el capítulo visto-->
<ion-header>
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button defaultHref="/welcome/profile"></ion-back-button>
      </ion-button>
    </ion-buttons>
    
    <ion-img src="assets/images/Large_Logo.png" class="tool-img"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br><br>
  <ion-list>

    <ion-item *ngFor='let h of Hist.reverse()'>
      <ion-img slot="start" [src]="h.image"></ion-img>
      <h4> {{h.name}} </h4>
      <ion-button slot="end" class="btn-start" (click)="buttonSelector(h.id, h.type)">Iniciar  <ion-icon name="play" class="play-btn"></ion-icon></ion-button>
    </ion-item>

  </ion-list>

  <br><br><br> <br>

</ion-content>
