<!--El Header nomás contiene una barra que muestra el logo de la empresa-->
<ion-header class="ion-no-border toolHeader">
  <ion-toolbar>
    <ion-img src="assets/images/Logo.png" class="tool-img"></ion-img>
  </ion-toolbar>
</ion-header>

<!--Dentro del contenido, al dar click sobre cualquier elemento se abrirá la info del
programa o película que se desee ver-->
<ion-content>
  <!--Slider principal-->
  <ion-slides [options]="slideOpts">

    <ion-slide *ngFor='let banner of BannerVar' (click)="bannerClick(banner.id, banner.type)">
      <ion-img [src]="banner.poster"></ion-img>
    </ion-slide>

  </ion-slides>

  <h1>La gente está viendo ahora</h1>
  <!--Slider de lo que la gente ve ahora-->
  <ion-slides scrollbar="true" [options]="extraOpts">

    <ion-slide *ngFor='let movie of watchNow'>
      <ion-card class="ion-text-start" (click)="openMovie(movie.id)">
        <ion-img [src]="movie.poster"></ion-img>
      </ion-card>
    </ion-slide>

  </ion-slides>

  <h1>Series Populares</h1>
  <!--Slider de series populare-->
  <ion-slides scrollbar="true" [options]="movieOpts">

    <ion-slide *ngFor='let object of Popular' (click)="openTv(object.id)">
      <ion-card class="ion-text-start">
        <ion-img [src]="object.image"></ion-img>
      </ion-card>
    </ion-slide>
  
  </ion-slides>

  <h1>Top 5 en tu país</h1>

  <!--Lista de películas top 5-->
  <div class="top10" style="background-image: url( {{topBg}} )">
    <ion-list class="list">

      <ion-item lines="none" *ngFor='let top of top10' class="list-item">

          <ion-label> {{top.title}} </ion-label>
          <ion-button slot="end" shape="round" class="transparent_btn" (click)="openMovie(top.id)"><ion-icon name="play"></ion-icon></ion-button>

      </ion-item>

    </ion-list>
  </div>

  <h1>Sugerencias para ti</h1>
  <!--Slider de sugerencias-->
  <ion-slides scrollbar="true" [options]="extraOpts">

    <ion-slide *ngFor='let now of watchNow'>
      <ion-card class="ion-text-start" (click)="openMovie(now.id)">
        <img [src]="now.poster">
      </ion-card>
    </ion-slide>

  </ion-slides>

  <!--El mira ahora es una película en específico que se presenta con un formato
  visual más atractivoD-->
  <h1>Mira Ahora</h1>

  <div class="suggested" style="background-image: url( {{suggested.poster}} );">
    <div class="suggested_img">
      <ion-img
        [src]="suggested.poster">
      </ion-img>
    </div>

    <div class="centered">
      <h1> {{suggested.title}} </h1>
      <p> {{suggested.desc}} </p>
      <ion-button class="btn_Normal" (click)="openMovie(suggested.id)">
        <ion-icon name="caret-forward-outline"></ion-icon> Iniciar
      </ion-button>
      <ion-button class="transparent_btn">Más Detalles</ion-button>
    </div>
  </div>

  <h1>Próximamente</h1>
  <!--Slider de Próximamente-->
  <ion-slides scrollbar="true" [options]="movieOpts">

    <ion-slide *ngFor='let up of Upcoming'>
      <ion-card class="ion-text-start" (click)="openMovie(up.id)">
        <img [src]="up.image">
      </ion-card>
    </ion-slide>

  </ion-slides>
  <br><br><br><br>

</ion-content>