<ion-content>
  <!--Muestra el avatar y la info del usuario-->
  <ion-grid>
    <ion-row>
      <ion-col class="pp">
        <div class="avatar">
          {{User.Substracted}}
        </div>
      </ion-col>
      <ion-col>
        <h1> {{User.name}} </h1>
        <p>Email: {{User.mail}} </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-accordion-group>
    <!--Es la configuración, despliega el modificar perfil-->
    <ion-accordion value="config">
      <ion-item slot="header">
        <ion-label
          ><ion-icon name="cog" class="red-text"></ion-icon>
          Configuración</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item href="/welcome/edit-profile">
          <ion-label>Editar Perfil</ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>

    <!--Despliega otro accordeon que muestra acerca de y contacto
    ambos te llevan a la página de redmex-->
    <ion-accordion value="about">
      <ion-item slot="header">
        <ion-label
          ><ion-icon name="alert-circle" class="red-text"></ion-icon> Acerca
          de</ion-label
        >
      </ion-item>

      <ion-list slot="content">
        <ion-item href="https://redmex.online/inicio/nosotros">
          <ion-label>RedMex</ion-label>
        </ion-item>

        <ion-item href="https://redmex.online/inicio/contacto">
          <ion-label>Contacto</ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>

    <!--Te permite ver el historial-->
    <ion-item href="/welcome/record">
      <ion-label
        ><ion-icon name="time" class="red-text"></ion-icon> Historial</ion-label
      >
    </ion-item>

    <!--Es un botón de cerrar sesión-->
    <ion-item (click)="logout()">
      <ion-label><ion-icon name="log-out" class="red-text"></ion-icon>  Cerrar sesión</ion-label>
    </ion-item>
  </ion-accordion-group>
</ion-content>
